.page-header-content{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 4rem 0 4rem 0;
}
#page-bg{
  background: linear-gradient(to bottom, rgba(116, 226, 251, 1), rgba(6, 155, 188, 1));
}
.logo{
  display: flex;
  justify-content: center;
  margin-top: 5rem;
  width: 100px;
}
.icon-list-social .icon-list-social-link {
font-size: 1.25rem;
margin-right: 0.5rem;
}
#logo-footer{
  width: 150px;
}
.btn-primary{
  background-color: #3581a2;
  border: #175b78;
}
.btn-primary:hover{
  background-color: #175b78;
}
.card-header h1{
  text-align: center;
  font-size: 24px;
}
.circle {
  width: 400px;
  height: 400px;
  background: #fff;
  -moz-border-radius: 200px;
  -webkit-border-radius: 200px;
  border-radius: 200px;
  border: 5px solid rgba(121, 222, 240, 0.858);
  margin: 2rem;
  display: none;
}
.circle-inner{
  margin-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.circle-inner p{
  text-align: center;
}
.circle-inner h2{
  font-size: 24px;
}
.icon{
  width: 100px;
}
.error{
  color:rgb(224, 48, 83);
}
.fade-in{-webkit-animation:fade-in 1.6s cubic-bezier(.39,.575,.565,1.000) .2s both;animation:fade-in 1.6s cubic-bezier(.39,.575,.565,1.000) .2s both}
@-webkit-keyframes fade-in{0%{opacity:0}100%{opacity:1}}@keyframes fade-in{0%{opacity:0}100%{opacity:1}}

